@font-face {
  font-family: "ComicZine";
  src: url("/fonts/ComicZine.otf"); }

@font-face {
  font-family: "Droid";
  src: url("/fonts/DroidSerif-Regular.ttf"); }

@font-face {
  font-family: "Droid Italic";
  src: url("/fonts/DroidSerif-Italic.ttf"); }

@font-face {
  font-family: "Droid Bold";
  src: url("/fonts/DroidSerif-Bold.ttf"); }

@font-face {
  font-family: "Droid Bold Italic";
  src: url("/fonts/DroidSerif-BoldItalic.ttf"); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #EEE;
  font-family: Helvetica, Verdana, sans-serif;
  width: 1080px;
  margin: 0 auto; }
  body a {
    text-decoration: none; }
  body a:hover {
    border-bottom: 1px solid #666; }

del {
  text-decoration: line-through; }

#header {
  padding: 50px 0;
  line-height: 1.6em; }
  #header h1 {
    font-family: "ComicZine", Helvetica, sans-serif;
    font-size: 60px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #CCC; }
    #header h1 a {
      color: #000; }
      #header h1 a:hover {
        border-bottom: none;
        color: #db6ea8; }
  #header #blurb {
    border-bottom: 1px solid #CCC; }
    #header #blurb p {
      margin: 0 0 15px 0;
      color: #444;
      font-family: "Droid", Georgia, serif;
      font-size: 16px; }
      #header #blurb p:last-child {
        margin: 0 0 20px 0; }
      #header #blurb p a {
        color: #000;
        font-family: "Droid Bold", Georgia, serif;
        font-size: 16px; }

#books ul {
  font-family: "Droid", Georgia, serif;
  line-height: 1.2em; }
  #books ul li {
    position: relative;
    width: 200px;
    height: 330px;
    float: left;
    margin: 0 20px 20px 0; }
    #books ul li:nth-child(5n) {
      margin: 0 0 20px 0; }
    #books ul li .photo {
      display: block;
      width: 194px;
      height: 194px; }
      #books ul li .photo img {
        border: 3px solid #000;
        width: 194px;
        height: 194px; }
    #books ul li a.photo:hover {
      border-bottom: none; }
      #books ul li a.photo:hover img {
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black; }
    #books ul li h2 {
      margin: 11px 0 0 0;
      font-family: "Droid Bold", Georgia, serif;
      font-size: 14px; }
      #books ul li h2 a {
        color: #000; }
    #books ul li p.author {
      font-family: "Droid Italic", Georgia, serif;
      font-size: 13px;
      margin: 0 0 8px 0; }
      #books ul li p.author span {
        font-family: "Droid", Georgia, serif; }
    #books ul li p.type, #books ul li p.description {
      font-size: 13px; }
    #books ul li p.type {
      margin: 0 0 8px 0; }
    #books ul li p.price {
      position: absolute;
      top: -7px;
      left: -7px;
      width: 34px;
      height: 29px;
      padding: 7px 0 0 0;
      background: #333333;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #FFF;
      -moz-box-shadow: 0 0 10px #666666;
      -webkit-box-shadow: 0 0 10px #666666;
      box-shadow: 0 0 10px #666666;
      border: 2px solid #000;
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px; }

p.sold {
  position: absolute;
  top: 80px;
  left: 0;
  width: 200px;
  padding: 6px 0;
  background: #990E20;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: #FFF; }

#book {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 0 50px 0;
  font-family: "Droid", Georgia, serif; }
  #book p.sold {
    top: 280px;
    font-size: 30px;
    width: 606px; }
  #book #photo {
    float: left;
    width: 600px;
    height: 600px; }
    #book #photo a {
      display: block; }
      #book #photo a img {
        width: 600px;
        height: 600px;
        border: 3px solid #000; }
      #book #photo a:hover {
        border-bottom: none; }
  #book #details {
    width: 440px;
    float: right; }
    #book #details h2 {
      font-family: "Droid Bold", Georgia, serif;
      font-size: 30px;
      margin: 0 0 5px 0; }
    #book #details .author {
      font-family: "Droid Italic", Georgia, serif;
      font-size: 18px;
      margin: 0 0 30px 0; }
      #book #details .author span {
        font-family: "Droid", Georgia, serif; }
    #book #details .type, #book #details .description {
      margin: 0 0 30px 0; }
    #book #details .price {
      margin: 0 0 30px; }
      #book #details .price span {
        height: 29px;
        padding: 3px 5px 3px 7px;
        background: #333;
        text-align: center;
        letter-spacing: 0.2em;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #FFF;
        border: 2px solid #000;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px; }
    #book #details .more {
      font-size: 14px; }
      #book #details .more a {
        color: blue; }

#footer {
  clear: both;
  text-align: right;
  padding: 20px 0 40px 0;
  border-top: 1px solid #CCC;
  font-family: "Droid Italic", Georgia, serif;
  font-size: 14px;
  color: #444; }
  #footer a {
    color: #000; }
